@model MonsterType

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Add New Monster Type</h2>
        </div>
        
    </div>
</form>