@model BattleViewModel


<div class="card bg-white rounded shadow-sm" style="border:2px solid #222">
    <div class="card-body px-3 pt-3 pb-1 row">
        <div class="col-4 text-info"><label class="h2 float-left">@Model.CharacterName </label></div>
        <div class="col-5"><label class="float-right"><span class="text-info h2"> @Model.MonsterName</span></label> </div>
    </div>



  

    <div class="card-body p-1 px-3 row">
        <div class="col-6">
            <span class="badge p-3 border w-100" style="background-color:lavenderblush"> TEKST</span>
        </div>
        <div class="col-6 border-0">
            <span class="badge p-3 border w-100" style="background-color:aliceblue"> TEKSt</span>
        </div>
    </div>



</div>